body {
  background: #eeeeee;
}

#wrapper {
  width: 720px;
  background: white;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  border: 1px solid lightgray;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

td {
  width: 300px;
  border-color: black;
}
tr {
  width: 300px;
}

th {
  border-color: white;
}

table {
  text-align: center;
  margin: auto;
}
